---
import Layout from '../layouts/Layout.astro';
import CareerCard from './CareerCard.astro';
import ContactForm from './ContactForm.astro'


const { nav } = Astro.props;

const careerModules = [
  { color: "bg-purple-600" }, { color: "bg-blue-500" }, { color: "bg-emerald-500" },
  { color: "bg-orange-500" }, { color: "bg-pink-600" }, { color: "bg-gray-800" },
  { color: "bg-sky-500" }, { color: "bg-indigo-600" }, { color: "bg-red-500" },
  { color: "bg-yellow-500" }
];

---

<Layout title="BEBECUTE Portfolio" lang={nav.lang}>
  <section id="home" class=" bg-whiterelative pt-2 pb-20 min-h-screen flex items-center overflow-hidden">
    <div class="max-w-5xl mx-auto px-4 text-center">
      <span class="inline-block px-4 py-1.5 mb-6 text-sm font-semibold tracking-widest text-purple-600 uppercase bg-purple-100 rounded-full">
        {nav.heroBadge}
      </span>
      
      <h1 class="text-5xl md:text-7xl font-black text-gray-900 mb-6 italic tracking-tighter">
        BEBE<span class="text-blue-600">CUTE</span>
      </h1>
      
      <p class="max-w-2xl mx-auto text-xl text-gray-600 leading-relaxed mb-10">
        {nav.heroDesc}
      </p>

      <div class="flex flex-wrap justify-center gap-4">
        <a href="#contact" class="px-8 py-4 bg-white text-gray-700 border border-gray-200 font-bold rounded-2xl hover:bg-gray-50 transition-all">
          {nav.btnMindmap}
        </a>
      </div>
    </div>
  </section>

<section id="portfolio" class="bg-gray-50 py-20 min-h-screen">
    <div class="max-w-7xl mx-auto px-4">
      <div class="mb-16 text-center">
        <h2 class="text-5xl font-black italic text-gray-900 tracking-tighter uppercase">
          {nav.careerTitle}
        </h2>
        <p class="text-gray-500 mt-2 italic font-medium">{nav.careerSub}</p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-8">
        {careerModules.map((mod, i) => (
          <CareerCard 
            num={i + 1}
            title={nav[`c${i+1}`]}
            color={mod.color}
            hasDetail={i === 0}
            btnText={nav.btnMore}
            pendingText={nav.pending}
          />
        ))}
      </div>
    </div>
  </section>

<section id="contact" class="py-24 bg-white font-inter">
  <div class="max-w-6xl mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="text-5xl md:text-5xl font-black italic text-gray-900 tracking-tighter leading-none">
        {nav.btnMindmap} <span class="text-blue-600">BEBECUTE</span>
      </h2>
    </div>

    <div class= "gap-16 items-start">
      <div class="relative">
        <ContactForm nav={nav} />
      </div>
    </div>
  </div>
</section>
</Layout>